body {
    font-family: 'JetBrains Mono', monospace;
    background: #2C2B3D;
    text-align: center;
}

.page {
    text-align: center;
    width: 1280px;
    height: 720px;
    padding-top: 71px;
    margin: 0 auto;
}

nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1083px;
    margin-bottom: 101px;
}

ul {
    display: flex;
    list-style: none;
    gap: 64px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: #FFF;
}

main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1092px;
    height: 283px;
}

h1 {
    color: #FFF;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 59px;
}

h1 span {
    color: #00BFA6;
}

p {
    color: #C2C2C2;
    width: 604px;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
}

p strong {
    color: #7D7987;
    font-weight: bold;
}

p span {
    color: #00BFA6;
    font-weight: bold;
}


footer {
    color: #FFF;
    display: flex;
    justify-content: flex-start;
    text-align: center; 
    height: 55px;
    margin: 157px auto 23px;
}


.instagram {
    display: flex;
    flex-direction: column;
    width: 568px;
    
}

.instagram img {
    margin-bottom: 27px;
}

.instagram p {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14px;
    color: #FFF;
}

#padlock {
    padding-left: 20px;
    padding-right: 285px;
}